<div class="ud-header">
  <h2 class="text-center">Connect The Planet</h2>
</div>
<div class="ud-body">
  <div class="msg-box">
    <ul>
      <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.userName === msgDto.userName ? 'in-msg' : 'ex-msg'">{{mObj.userName}} :<br /><span class="msg-italic-style">{{mObj.message}}</span></li>
    </ul>
  </div>
  <div class="ud-flex-row">
    <input type="text" placeholder="Type message here" class="msg-input" [(ngModel)]="msgDto.message"  />
    <button class="send-btn" (click)= "send()">Submit</button>
  </div>
  <input type="text" placeholder="Your name" class="name-box" [(ngModel)]="msgDto.userName" />
</div>